<header class="site-header">
  <div class="wrap site-header__inner">
    <a href="{{ '/' | relative_url }}" class="wordmark">
      <svg class="wordmark__mark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 16c4-1 6-5 6-10 5 0 8 3 8 7 0 4-4 7-8 7-3 0-5-1-6-4Z" stroke-width="1.6" stroke-linejoin="round"/>
        <path d="M6 16C9 13 12 10 18 6" stroke-width="1.6" stroke-linecap="round"/>
      </svg>
      {{ site.title }}
    </a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">index</a>
      <a href="{{ '/about/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">about</a>
      <a href="{{ '/feed.xml' | relative_url }}">rss</a>
    </nav>
  </div>
</header>
